<div class="header">
  <div class="menu-div" >
    <button mat-icon-button class="menu-hamburger" (click)="toggleSideNav()">
      <fa-icon [icon]="menuIcon" class="menu-icon"></fa-icon>
    </button>
  </div>
  <div class="nav-div">
    <nav>
      <a (click)="gotoBoard()" [ngClass]="{'active': selectedNavItem == 1}">BOARD</a>
      <a (click)="gotoTeam()" [ngClass]="{'active': selectedNavItem == 3}">TEAM</a>
      <a (click)="gotoTasks()" [ngClass]="{'active': selectedNavItem == 4}">WIKI</a>
    </nav>
  </div>
  <div class="profile-div">
    <div class="profile-name" mat-ripple [matMenuTriggerFor]="actionsMenu">{{username}}</div>
    <mat-menu #actionsMenu="matMenu">
      <button mat-menu-item mat-ripple>
        <mat-icon>account_circle</mat-icon>
        <span>Profile settings</span>
      </button>
      <button mat-menu-item (click)="logout()" mat-ripple>
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>

</div>


