
.header {
  position: fixed;
  z-index: 1002 !important;
  margin: 0;
  background-color: #fff;
  overflow: hidden;
  min-height: 2.55em !important;
  display: flex;
  flex-direction: row;
  width: 100% !important;

  border-bottom: solid 1px #d6d9d9 !important;
}

a {
  cursor: pointer;
}

.nav-div {
  display: flex;
  width: 80%;
}

nav a:hover {
  color: gray;
  border-bottom: solid 4px gray;
}

nav {
  font-size: 0.9rem;
  position: absolute;
  top: 0.4rem;
  width: 10%;
  display: table;
  margin: 0 auto;
}

nav a {
  position: relative;
  width: 33.333%;
  display: table-cell;
  text-align: center;
  color: var(--main-theme-color);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 3px 20px 10px 20px;
  transition: 0.2s ease color;
}

nav a:hover:before, nav a:hover:after {
  transform: scale(1);
}

.menu-div {
  display: flex;
  width: 7%;
  margin-left: 1.8rem;
}

.menu-hamburger {
  text-align: left;
  justify-content: center;
  align-items: center;
  display: flex;
  color: var(--error-message-color);

  &:hover {
    color: var(--main-color);
    background-color: #e0e0e0;
  }
}

.profile-div {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  min-width: 20%;
  color: #949494;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  padding: 0.1rem 2rem;
  transition: 0.2s ease color;

  .profile-name {
    cursor: pointer;

    &:hover {
      color: var(--main-color);
    }
  }
}

.active {
  color: var(--main-color) !important;
  border-radius: 1px;
  transition: 0.2s ease left;
  border-bottom: solid 4px var(--main-color) !important;
}

.menu-icon {
  font-size: 1.3rem;
}

