.main-container {
  position: fixed;
  z-index: 10;
  top: 0;
  margin-top: 2.55rem;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: row;

  .task-editor-overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }

  .task-editor-container {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    transition: right 0.3s, visibility 0.3s;
    padding-bottom: 0.3em;
  }
}

.task-editor-overlay-collapsed {
  background: transparent !important;
}

.task-editor-collapsed {
  visibility: collapse !important;
}

.task-editor-content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  background: #fff;
  position: relative;

  .editor-actions {
    position: relative;
    flex: 0.05;
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    border-bottom: solid 1px gray;

    .icon {
      flex: 0.05;
    }

    .save-button {
      color: var(--error-message-color);

      button:hover {
        color: #0ec20e;
        background-color: #e0e0e0;
      }
    }

    .delete-button {
      color: var(--error-message-color);
      margin-right: 26.6rem;

      button:hover {
        color: red;
        background-color: #e0e0e0;
      }
    }

    .exit-button {
      color: var(--error-message-color);
      margin-right: 1.2rem;

      button:hover {
        color: var(--main-color);
        background-color: #e0e0e0;
      }
    }
  }

  .editor-content-container {
    overflow: auto;
    flex: 0.8;
    padding: 0.7rem;
    height: auto !important;

    textarea {
      overflow: auto;
      outline: none;
      resize: none;
      width: 100%;
      min-height: 2rem;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      background-color: #fff;
      padding: 1rem;
      font-size: 1rem;
      border-radius: 7px;
      border: none;
    }

    textarea:hover,
    textarea:focus, {
      border: 1px solid #d0cfcf;
      box-shadow: 0 0 10px #e0e0e0;
    }

    .editor-additional-content-container {
      display: flex;
      flex-direction: row;
      padding-left: 1rem;
      padding-top: 0.5rem;
      font-size: 0.7rem;
    }

    .values-container {
      position: relative;
      margin-left: 2rem;
      margin-right: 2rem;
      flex: 1;
      z-index: 11 !important;

      .tags {
        width: 100% !important;
      }

      .priority-select {
        margin-bottom: 0 !important;
      }

      .description {
        font-size: 0.7rem;
        border: 1px solid #d0cfcf;
        margin-top: 0.3rem;
        padding-left: 0.4rem;
      }
    }
  }

  .editor-footer {
    overflow: auto;
    padding: 0.7rem 0.7rem 0.3rem 1rem;
    flex: 0.15;
    font-size: 0.8rem !important;
    font-weight: 500;
    background-color: #f7f9fd !important;

    border-top: #a0a0a0;
    border-top-width: 1px;
    border-top-style: solid;

    .history-title {
      margin-bottom: 0.4rem;
    }

    .history-line {
      color: #aaa;
      padding-left: 1rem;
      font-size: 0.6rem;

      .date {
        color: #747272;
      }

      .member-name {
        color: #747272;
        font-weight: bold;
      }
    }
  }
}

.btm {
  margin-bottom: 0 !important;
  width: 100% !important;
}

.btm2 {
  padding-top: 0.6rem !important;
  margin-bottom: 1.9rem !important;
  margin-top: 0.4rem !important;
}

.mat-form-field {
  width: 12rem !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0.5rem !important;
}

.mat-form-field-appearance-legacy .mat-form-field-appearance-legacy {
  padding: 0 !important;
}

.input-field-invalid {
  border: solid 2px red !important;
}

.validation-error-message {
  text-align: start !important;
  padding-left: 1.2rem !important;
  font-size: 0.6rem !important;
}
