<div class="side-nav-bar"
     [ngClass]="{ 'side-nav-bar-collapsed': !(showSideNav | async) }">

  <div class="side-nav-bar-overlay"
       [ngStyle]="{ 'transition': 'background-color ' + duration + 's, visibility ' + duration + 's' }"
       [ngClass]="{ 'side-nav-bar-overlay-collapsed': !(showSideNav | async) }"
       (click)="onSidebarClose()"></div>

  <div class="side-nav-bar-menu-container"
       [ngStyle]="getSideNavBarStyle((showSideNav | async))">

    <div class="side-nav-bar-content-container">
      <ng-container *ngTemplateOutlet="sidenavTemplateRef"></ng-container>
    </div>

    <div class="middle"></div>
    <div class="footer">
      <div class="image">
        <img src="/assets/images/footer.svg" class="image" alt=""/>
      </div>
      <div class="info">
        <div class="created-by">created by</div>
        <div class="developer-name">SteVi</div>
      </div>
    </div>
  </div>
</div>
