.side-nav-bar {
  position: fixed;
  z-index: 1001;
  top: 0;
  margin-top: 1.9rem;
  bottom: 0;
  left: 0;
  right: 0;

  .side-nav-bar-overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }

  .side-nav-bar-menu-container {
    position: absolute;
    top: 0;
    bottom: 0;
    background: #FFF;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .side-nav-bar-close {
      display: inline-block;
      font-size: 2em;
      margin: 8px 1px 0 24px;
      cursor: pointer;
    }

    .side-nav-bar-close:hover {
      color: var(--main-color);
    }

    .middle {
      flex: 0.2;
    }

    .footer:before {
      flex: 0.8;
      content: "";
      position: absolute;
      height: 700px;
      width: 700px;
      transform: translate(-50%, 10%);
      background-image: var(--main-theme-color);
      transition: 1.8s ease-in-out;
      border-radius: 50%;
      z-index: 1;
    }

    .image {
      max-width: 130px !important;
      max-height: 130px !important;
      transform: translate(35%, 65%);
      position: absolute;
      z-index: 8;
    }

    .info {
      color: #fff;
      position: absolute;
      transform: translate(90%, 380%);
      z-index: 7;
      cursor: default;

      .created-by {
        font-size: 0.7rem;
        text-align: center;
        padding-left: 0.12rem;
        transform: scale(1.3, 1);
      }

      .developer-name {
        font-weight: 650;
        font-size: 1.5rem;
        text-align: center;
        transform: scale(1.2, 1);
      }
    }
  }

  .side-nav-bar-content-container {
    padding: 32px;
  }
}

.side-nav-bar-overlay-collapsed {
  background: transparent !important;
}

.side-nav-bar-collapsed {
  visibility: collapse !important;
}
