<app-header [hideNavItems]="true"></app-header>

<div class="project-container">
  <div class="welcome">
    <div class="image" matRipple>
      <img src="/assets/images/project.svg" class="image" alt=""/>
    </div>
    <div class="welcome-text">
      <div class="hello">
        Mojave project
      </div>
      Here you can set the project info
    </div>
  </div>
  <div class="names">
    <mat-form-field class="title">
      <mat-label>Name</mat-label>
      <input matInput #name maxlength="30" placeholder="Project" matTooltip="press enter to save"
             [ngModel]="project.name" (keyup.enter)="saveProjectName($event.target.value)">
      <mat-hint align="end">{{name.value.length}} / 30</mat-hint>
    </mat-form-field>
    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <input matInput #description maxlength="256" placeholder="Short description" matTooltip="press enter to save"
             [ngModel]="project.description" (keyup.enter)="saveProjectDescription($event.target.value)">
      <mat-hint align="end">{{description.value.length}} / 120</mat-hint>
    </mat-form-field>
    <mat-form-field class="image-url">
      <mat-label>Image url</mat-label>
      <input matInput placeholder="http://" matTooltip="press enter to save"
             [ngModel]="project.imageUrl" (keyup.enter)="saveProjectImageUrl($event.target.value)">
    </mat-form-field>
  </div>
  <div class="milestone">
    <mat-form-field>
      <mat-label>Milestones</mat-label>
      <mat-chip-list #milestoneList>
        <mat-chip *ngFor="let milestone of milestones"
                  [selectable]="true" [removable]="true" (removed)="removeMilestone(milestone)">
          {{milestone.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="New ..." #milestoneInput
               [matChipInputFor]="milestoneList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addMilestone($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div class="tags">
    <mat-form-field>
      <mat-label>Tags</mat-label>
      <mat-chip-list #tagList>
        <mat-chip *ngFor="let tag of tags"
                  [(colorPicker)]="color" (colorPickerChange)="saveTagColor(color, tag)"
                  [style.background]="chipsBackgroundMap.get(tag.id)"
                  [cpCancelButton]="true"
                  [cpOKButton]="true"
                  [cpCancelButtonClass]="'button'"
                  [cpPresetColors]="['#16ec21', '#e57615', '#2889e9', '#d516d5', '#fff500', '#0d30ed']"
                  (click)="$event.stopPropagation();"
                  [selectable]="true" [removable]="true" (removed)="removeTag(tag)">
          {{tag.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="New ..." #tagInput
               [matChipInputFor]="tagList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div class="nav">
    <div (click)="navigate('')">BOARD</div>
    <div (click)="navigate('team')">TEAM</div>
    <div (click)="navigate('')">WIKI</div>
  </div>
</div>
