<app-header [hideNavItems]="true"></app-header>

<div class="project-container">
  <div class="welcome">
    <div class="image" matRipple>
      <img src="/assets/images/project.svg" class="image" alt=""/>
    </div>
    <div class="welcome-text">
      <div class="hello">
        Mojave project
      </div>
      Here you can set the project info
    </div>
  </div>
  <div class="names">
    <mat-form-field class="title">
      <mat-label>Name</mat-label>
      <input matInput #name maxlength="30" placeholder="Project" matTooltip="press enter to save"
             [ngModel]="project.name" (keyup.enter)="saveProjectName($event.target.value)">
      <mat-hint align="end">{{name.value.length}} / 30</mat-hint>
    </mat-form-field>
    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <input matInput #description maxlength="120" placeholder="Short description" matTooltip="press enter to save"
             [ngModel]="project.description" (keyup.enter)="saveProjectDescription($event.target.value)">
      <mat-hint align="end">{{description.value.length}} / 120</mat-hint>
    </mat-form-field>
    <div [formGroup]="imageForm" class="image-url">
      <mat-form-field style="width: 100%">
        <mat-label>Image url</mat-label>
        <input matInput placeholder="http://"
               formControlName="imageUrl"
               matTooltip="press enter to save"
               (keyup.enter)="saveProjectImageUrl()">
      </mat-form-field>
      <div *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)"
           class="validation-error-message">
        <div *ngIf="imageUrl.errors.pattern">
          URL is invalid
        </div>
      </div>
    </div>
  </div>
  <div class="milestone">
    <mat-form-field>
      <mat-label>Milestones</mat-label>
      <mat-chip-list #milestoneList>
        <mat-chip *ngFor="let milestone of milestones"
                  [selectable]="true" [removable]="true" (removed)="removeMilestone(milestone)">
          {{milestone.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input placeholder="New ..." #milestoneInput
               [matChipInputFor]="milestoneList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addMilestone($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div class="tags">
    <mat-form-field>
      <mat-label>Tags</mat-label>
      <mat-chip-list #tagList>
        <mat-chip *ngFor="let tag of tags"
                  [ngStyle]="{'background-color': chipsBackgroundMap.get(tag.id)}"
                  [matMenuTriggerFor]="colorMenu"
                  [selectable]="true" [removable]="true" (removed)="removeTag(tag)">
          {{tag.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
          <mat-menu #colorMenu="matMenu" class="color-menu">
            <div>
              <mat-icon [ngStyle]="{'color': '#0764ef'}" (click)="saveTagColor('#0764ef', tag)">opacity</mat-icon>
              <mat-icon [ngStyle]="{'color': '#2fdb11'}" (click)="saveTagColor('#2fdb11', tag)">opacity</mat-icon>
              <mat-icon [ngStyle]="{'color': '#efeb07'}" (click)="saveTagColor('#efeb07', tag)">opacity</mat-icon>
            </div>
            <div>
              <mat-icon [ngStyle]="{'color': '#ef0707'}" (click)="saveTagColor('#ef0707', tag)">opacity</mat-icon>
              <mat-icon [ngStyle]="{'color': '#6007ef'}" (click)="saveTagColor('#6007ef', tag)">opacity</mat-icon>
              <mat-icon [ngStyle]="{'color': '#07efef'}" (click)="saveTagColor('#07efef', tag)">opacity</mat-icon>
            </div>
            <div>
              <mat-icon [ngStyle]="{'color': '#ef7f07'}" (click)="saveTagColor('#ef7f07', tag)">opacity</mat-icon>
              <mat-icon [ngStyle]="{'color': '#282e93'}" (click)="saveTagColor('#282e93', tag)">opacity</mat-icon>
              <mat-icon [ngStyle]="{'color': '#ef07c8'}" (click)="saveTagColor('#ef07c8', tag)">opacity</mat-icon>
            </div>
          </mat-menu>
        </mat-chip>
        <input placeholder="New ..." #tagInput
               [matChipInputFor]="tagList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
  <div class="nav">
    <div (click)="navigate('')">BOARD</div>
    <div (click)="navigate('team')">TEAM</div>
    <div (click)="navigate('')">WIKI</div>
  </div>
</div>
