<app-header [hideNavItems]="true"></app-header>

<div class="project-container">
  <div class="welcome">
    <div class="image" matRipple>
      <img src="/assets/images/project.svg" class="image" alt=""/>
    </div>
    <div class="welcome-text">
      <div class="hello">
        {{project.name ? project.name : 'New'}} project
      </div>
      Here you can set the project info
    </div>
  </div>
  <div class="names">
    <div class="title" [formGroup]="titleForm">
      <mat-form-field class="title">
        <mat-label>Title</mat-label>
        <input matInput #name maxlength="30" placeholder="Project" formControlName="name"
               matTooltip="change text to save"
               [ngModel]="project.name" (change)="saveProjectName()" (keyup)="saveProjectName()">
        <mat-hint align="end">{{name.value.length}} / 30</mat-hint>
      </mat-form-field>
      <div *ngIf="title.invalid && (title.dirty || title.touched)"
           class="validation-error-message">
        <div *ngIf="title.errors.required">
          Title is required
        </div>
        <div *ngIf="title.errors.min">
          Title should have at least 2 characters
        </div>
      </div>
    </div>
    <mat-form-field class="description">
      <mat-label>Description</mat-label>
      <input matInput #description maxlength="120" placeholder="Short description"
             matTooltip="change text to save"
             [ngModel]="project.description" (keyup)="saveProjectDescription($event)">
      <mat-hint align="end">{{description.value.length}} / 120</mat-hint>
    </mat-form-field>
    <div [formGroup]="imageForm" class="image-url">
      <mat-form-field style="width: 100%">
        <mat-label>Image url</mat-label>
        <input matInput placeholder="http://" formControlName="imageUrl"
               matTooltip="change text to save" (keyup)="saveProjectImageUrl()">
      </mat-form-field>
      <div *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched)"
           class="validation-error-message">
        <div *ngIf="imageUrl.errors.pattern">
          URL is invalid
        </div>
      </div>
    </div>
  </div>
  <div class="milestone">
    <mat-form-field>
      <mat-label [ngClass]="{'validation-error-message': !isMilestoneCreated}">Milestones</mat-label>
      <mat-chip-list #milestoneList>
        <mat-chip *ngFor="let milestone of milestones"
                  [selectable]="true" [removable]="true" (removed)="removeMilestone(milestone)">
          {{milestone.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #milestoneInput
               [disabled]="milestones.length > 14"
               [placeholder]="milestones.length > 14 ? 'Only 15 are allowed' : 'Add new..'"
               [matChipInputFor]="milestoneList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addMilestone($event)">
      </mat-chip-list>
    </mat-form-field>
    <div *ngIf="!isMilestoneCreated"
         class="validation-error-message">
      At least one milestone is required
    </div>
  </div>
  <div class="tags">
    <mat-form-field>
      <mat-label [ngClass]="{'validation-error-message': !isTagCreated}">Tags</mat-label>
      <mat-chip-list #tagList>
        <mat-chip *ngFor="let tag of tags"
                  [ngStyle]="{'background-color': chipsBackgroundMap.get(tag.id)}"
                  [matMenuTriggerFor]="colorMenu"
                  [selectable]="true" [removable]="true" (removed)="removeTag(tag)">
          {{tag.name}}
          <mat-icon matChipRemove>cancel</mat-icon>
          <mat-menu #colorMenu="matMenu" class="color-menu">
            <div>
              <mat-icon [ngStyle]="{'color': '#0764ef'}" (click)="saveTagColor('#0764ef', tag)">opacity</mat-icon>
              <mat-icon [ngStyle]="{'color': '#2fdb11'}" (click)="saveTagColor('#2fdb11', tag)">opacity</mat-icon>
              <mat-icon [ngStyle]="{'color': '#efeb07'}" (click)="saveTagColor('#efeb07', tag)">opacity</mat-icon>
            </div>
            <div>
              <mat-icon [ngStyle]="{'color': '#ef0707'}" (click)="saveTagColor('#ef0707', tag)">opacity</mat-icon>
              <mat-icon [ngStyle]="{'color': '#6007ef'}" (click)="saveTagColor('#6007ef', tag)">opacity</mat-icon>
              <mat-icon [ngStyle]="{'color': '#07efef'}" (click)="saveTagColor('#07efef', tag)">opacity</mat-icon>
            </div>
            <div>
              <mat-icon [ngStyle]="{'color': '#ef7f07'}" (click)="saveTagColor('#ef7f07', tag)">opacity</mat-icon>
              <mat-icon [ngStyle]="{'color': '#282e93'}" (click)="saveTagColor('#282e93', tag)">opacity</mat-icon>
              <mat-icon [ngStyle]="{'color': '#ef07c8'}" (click)="saveTagColor('#ef07c8', tag)">opacity</mat-icon>
            </div>
          </mat-menu>
        </mat-chip>
        <input #tagInput [disabled]="tags.length > 9"
               [placeholder]="tags.length > 9 ? 'Only 10 are allowed' : 'Add new..'"
               [matChipInputFor]="tagList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addTag($event)">
      </mat-chip-list>
    </mat-form-field>
    <div *ngIf="!isTagCreated"
         class="validation-error-message">
      At least one tag is required
    </div>
  </div>
  <div class="nav" *ngIf="project.id !== undefined">
    <div (click)="navigate('team')">TEAM</div>
    <div (click)="navigate('')">BOARD</div>
    <div (click)="navigate('')">WIKI</div>
  </div>
  <div class="nav" *ngIf="project.id == undefined">
    <a (click)="createNewProject()" class="save-btn">Save</a>
  </div>
</div>
