
.project-container {
  padding: 4rem 16rem 0 16rem;
  background: #fff;
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 1300px;

  .welcome {
    flex: 0;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.4rem;
    font-weight: 500;
    color: #787878;

    .image {
      height: 10rem;
      width: 20rem;
      justify-content: center;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      border-radius: 10px ;
    }

    .hello {
      margin-bottom: 0.5rem;
      color: #393939;

      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .names {
    border-top: solid 2px #a8a8a8;
    height: 100%;
    padding: 1rem 6rem 1rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 5rem;
    font-size: 0.76rem;

    .title {
      padding-left: 4.5rem !important;
      padding-right: 4.5rem !important;
      font-weight: bold;
      width: 100%;
    }

    .description {
      font-weight: 500;
    }

    .image-url {
      padding-left: 1.5rem !important;
      padding-right: 1.5rem !important;
      width: 100%;
    }
  }

  .milestone {
    flex: 0;
    border-top: solid 2px #a8a8a8;
    padding: 1rem 10rem 0 10rem;
    position: relative;
    font-size: 0.76rem;

    input.mat-chip-input {
      flex: 0!important;
      text-align: left;
    }
  }

  .tags {
    flex: 0;
    border-top: solid 2px #a8a8a8;
    padding: 1rem 12rem 0 12rem;
    position: relative;
    font-size: 0.76rem;

    .mat-chip {
      cursor: pointer;
    }

    input.mat-chip-input {
      flex: 0 !important;
      text-align: left;
    }

    .mat-form-field {
      width: 100%;
    }
  }

  .nav {
    flex: 0;
    border-top: solid 2px #a8a8a8;
    display: flex;
    justify-content: space-around;
    padding: 2rem 11rem 1rem 11rem;
    color: gray;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.05rem;
    font-weight: bold;
    transition: 0.2s ease color;

    div:hover {
      color: #0764ef;
      cursor: pointer;
    }
  }
}

.mat-form-field {
  text-align: center;
  width: 100%;
  font-size: 0.76rem;
}

.button {
  font-size: 2rem;
  font-weight: bold !important;
}

::ng-deep .mat-menu-panel {
  min-width: 1rem !important;
}

.mat-icon {
  cursor: pointer;
  margin-left: 0.2rem !important;
  margin-right: 0.2rem !important;

  &:hover {
    border-radius: 5px;
    background-color: #e8e8e8;
  }
}

::ng-deep .error {
  color: red;
}

a {
  font-size: 0.7rem;
  padding: 0.5rem 2rem;
  color: #0561e8;
  text-transform: uppercase;
}

.save-btn {
  text-decoration: none;
  border-radius: 10px;
  border: 2px solid rgb(66, 69, 217);
  position: relative;
  overflow: hidden;
}

.save-btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
}

.save-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
  );
  transition: all 650ms;
}

.save-btn:hover:before {
  left: 100%;
}



