<div class="invite-dialog-container">
  <div mat-dialog-title class="dialog-title">
    Invite members to the project
  </div>
  <div mat-dialog-content class="dialog-content">
    <mat-form-field class="add-field" appearance="outline">
      <mat-label>Emails</mat-label>
      <mat-chip-list #emails>
        <mat-chip *ngFor="let email of emailsToInvite"
                  [selectable]="true" [removable]="true" (removed)="remove(email)">
          {{email}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #emailsInput
               [disabled]="emailsToInvite.length > 4"
               [placeholder]="emailsToInvite.length > 4 ? 'Only 5 are allowed per one request' : 'Add new..'"
               [matChipInputFor]="emails"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="true"
               (matChipInputTokenEnd)="addToEmailList($event)">
      </mat-chip-list>
    </mat-form-field>

    <mat-form-field class="add-field-description" appearance="outline">
      <mat-label>Message</mat-label>
      <textarea matInput placeholder="Message to the emails (optional)"></textarea>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="buttons">
    <button mat-button class="no-btn" (click)="onNoClick()">Cancel</button>
    <button mat-button class="yes-btn" [mat-dialog-close]="true">Invite</button>
  </div>
</div>

