<app-header></app-header>

<div class="home-container">
  <div class="welcome">
    <div class="image" matRipple>
      <img src="/assets/images/team.svg" class="image" alt=""/>
    </div>
    <div class="welcome-text">
      <div class="hello">
        Your Team
      </div>
    </div>
  </div>
  <div class="projects">
    <div class="cards-list">
      <div *ngFor="let member of members, let index = index">
        <div class="card" [matMenuTriggerFor]="viewProfileMenu">
          <div class="card_image">
            <img src="/assets/images/profile.svg"/>
          </div>
          <div class="card_title title-white">
            {{member.username}}
          </div>
        </div>
        <mat-menu #viewProfileMenu="matMenu" class="menu">
          <div class="profile-info" (click)="$event.stopPropagation()">
            <div class="name">
              {{member.name}}
            </div>
            <div class="email">
              <mat-icon class="material-icons-outlined icon">email</mat-icon>
              {{member.email}}
            </div>
            <div class="role">
              {{member.role}}
            </div>
            <div class="profile-actions" *ngIf="member.role != 'Project Owner'">
              <div class="edit-role" [matMenuTriggerFor]="editRoleMenu" matRipple>
                <mat-icon class="material-icons-outlined icon">manage_accounts</mat-icon>
                Edit role
              </div>
              <div class="remove" matRipple (click)="removeMemberFromProject(member)">
                <mat-icon class="material-icons-outlined icon">person_remove_alt_1</mat-icon>
                Remove from project
              </div>
            </div>
          </div>
          <mat-menu #editRoleMenu="matMenu" class="edit-role-menu" [overlapTrigger]="false"
                    yPosition="below" xPosition="before">
            <div (click)="$event.stopPropagation()">
              <div>
                <mat-form-field appearance="outline">
                  <mat-label>Role</mat-label>
                  <mat-select [(value)]="member.role">
                    <mat-option [value]="role" *ngFor="let role of roles">{{ role }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="edit-role">
                <button mat-icon-button class="edit-role-btn" (click)="setNewRole(member.id, member.role)">
                  <mat-icon class="material-icons-outlined icon">check</mat-icon>
                </button>
              </div>
            </div>
          </mat-menu>
        </mat-menu>
      </div>

      <div class="card create">
        <div class="card_image" matRipple (click)="addMembers()">
          <img src="https://icon-library.com/images/icon-small/icon-small-15.jpg"></div>
        <div class="card_title title-white">
          <p>Add</p>
        </div>
      </div>
    </div>
  </div>

</div>
