
.home-container {
  padding: 4rem 16rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  min-width: 1300px;

  .welcome {
    flex: 0;
    justify-content: center;
    text-align: center;
    margin-bottom: 1.05rem;
    font-weight: 500;
    color: #787878;

    .image {
      height: 10rem;
      width: 20rem;
      justify-content: center;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      border-radius: 10px;
    }

    .hello {
      color: #393939;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .projects {
    flex: 1;
    background: #fff;
    border-top: solid 2px #a8a8a8;

    .cards-list {
      z-index: 0;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    .card {
      margin: 1.85rem 1rem 30px 3rem;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 10px blue;
      cursor: pointer;
      transition: 0.4s;
    }

    .card .card_image {
      width: inherit;
      height: inherit;
      border-radius: 50%;
    }

    .card .card_image img {
      width: inherit;
      height: inherit;
      border-radius: 50%;
      object-fit: cover;
    }

    .card .card_title {
      text-align: center;
      border-radius: 0 0 30px 30px;
      font-family: sans-serif;
      font-weight: bold;
      font-size: 20px;
      height: 40px;
    }

    .card:hover {
      transform: scale(0.9, 0.9);
      box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
      -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
    }

    .title-white {
      padding-top: 0.8rem;
      color: gray;
      text-align: center;
    }

    .title-black {
      color: black;
    }

    @media all and (max-width: 500px) {
      .card-list {
        flex-direction: column;
      }
    }
  }

  .create {
    border: dashed 1px gray !important;
  }
}

::ng-deep .cdk-overlay-connected-position-bounding-box {
  padding-top: 3rem;
  margin-left: -6.8rem;
  text-align: center;
}

::ng-deep .mat-menu-panel {
  min-width: 19rem !important;
  max-width: 30rem !important;
}

::ng-deep .mat-menu-content:not(:empty) {
  min-width: 19rem !important;
  max-width: 30rem !important;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 12px 2px;
}

.profile-info {
  font-size: 0.7rem;
  vertical-align: middle;

  .name {
    font-weight: 610;
    font-size: 0.8rem;
  }

  .email {
    margin-top: 0.1rem;
    color: gray;
  }

  .role {
    font-weight: 510;
    margin-top: 0.1rem;
    align-items: center;
    vertical-align: middle;
  }

  .icon {
    padding-top: 3px;
    color: gray;
    font-size: 1rem;
  }

  .profile-actions {
    padding-top: 1rem;
    text-align: start;

    .edit-role {
      padding: 0 12px;
      cursor: pointer;
      font-weight: 410;

      &:hover {
        background: #d7d7d7;
      }
    }

    .remove {
      padding: 0 12px;
      cursor: pointer;
      color: red;
      font-weight: 410;

      &:hover {
        background: #d7d7d7;
      }
    }
  }
}

.edit-role-menu {
  margin-right: -1000px !important;
  font-size: 0.7rem;
}

.edit-role {
  margin-top: -10px !important;

  .edit-role-btn {
    background: #3747ee;
    color: #fff;
    font-weight: 1000;

    &:hover {
      background: #1022d4;
    }
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  font-size: 0.6rem !important;
}
